# DAML Project 2 - Callum Smith

## Data Preprocessing: Convert the csv file into an appropriate format for our neural networks

1. Create variables where you count the number of electrons, photons, muons, jets and bjets in the event (ignore charge)
    * each line in csv is a single event, which objects `obj` separated by semicolons:  
    `event ID; process ID; event weight; MET; METphi; obj1, E1, pt1, eta1, phi1; obj2, E2, pt2, eta2, phi2; ...`<br>
    * e.g. row 1 of the `SM` dataset looks like:    
    `5702564; z_jets; 1; 102549; -2.9662; j,335587,132261,-1.57823,1.02902; j,107341,106680,-0.0989776, -2.67901; j,85720.1,62009,0.840127,-1.73805; j,270540,58844.5,2.20566,1.6064; j,55173.9,52433.5,-0.183147,2.62501; j,48698.6,37306.4,-0.719927,-1.7898; j,148467,23648,-2.52332,-1.70799; e-,186937,131480,0.888915,-0.185666; e+,80014.3,79281.7,0.135844,0.275231;`<br>
    * `obj`: the object type:

        |Key|Particle|
        |---|---|
        |j|jet|
        |b|b-jet|
        |e-|electron|
        |e+|positron|
        |m-|muon|
        |m+|muon+|
        |g|photon|

    * for each event e.g. electron = number of electrons/positrons (ignore charge) in that event

Imports

In [40]:

import numpy as np # numerical computing with arrays
import pandas as pd # data manipulation and analysis
from sklearn.preprocessing import StandardScaler # normalize features to mean=0, std=1

Read the file

In [41]:

# read our data file
path = "background_chan2b_7.8.csv" # file name
base_cols = ["event_id", "process_id", "event_weight", "MET", "METphi"] # first 5 columns before objects

# Count semicolons per line to get max number of fields (semicolons + 1)
max_cols = max(line.count(";") for line in open(path, encoding="utf-8")) + 1 # unsure of the +1 here...
names = base_cols + [f"obj{i+1}" for i in range(max_cols - len(base_cols))] # full list of column names separated by ;

df = pd.read_csv(path, sep=";", header=None, names=names, engine="python", dtype=str) # read data separated by ; as strings

In [42]:
print(df)

        event_id process_id event_weight      MET     METphi  \
0        5702564     z_jets            1   102549    -2.9662
1       13085335     z_jets            1   103468    1.96193
2          74025    wtopbar            1   129408   -1.17889
3        2419445     z_jets            1  77774.2   -1.09171
4          43639       wtop            1   107151   -1.02642
...          ...        ...          ...      ...        ...
340263        30      ttbar            1  65677.3    -1.1536
340264       111      ttbar            1  58730.1   0.529769
340265        75      ttbar            1   342729   0.804597
340266  15181306     z_jets            1   246999  -0.849401
340267  19552503     z_jets            1   109060    1.48996

                                         obj1  \
0            j,335587,132261,-1.57823,1.02902
1           j,224322,109177,-1.34681,-1.16114
2            b,169640,104808,-1.05742,1.86718
3             j,220498,108012,1.33305,1.86414
4           j,88031.8,53684.4,1.06622,2.33696
...                                       ...
340263      j,106621,104145,-0.202905,2.76947
340264      j,108441,69580.2,-1.00902,2.97987
340265  j,1.2493e+06,372926,-1.87853,-2.24094
340266      j,158547,151791,-0.266908,2.83552
340267    j,96492.7,69789.8,0.823169,-1.90346

                                        obj2  \
0        j,107341,106680,-0.0989776,-2.67901
1         m-,117239,105718,-0.462717,2.01556
2       j,61032.4,59133.2,-0.0435408,1.87833
3          j,190667,24036.4,2.75989,-2.24786
4           b,111635,25450.8,2.15602,2.49257
...                                      ...
340263     b,86433,69506.2,0.675256,0.209997
340264     b,75268.6,46885,-1.04939,-1.94795
340265      j,169624,104308,-1.06531,2.82518
340266      j,490997,85590.5,2.43207,1.64324
340267     j,238531,36726.8,2.55697,-2.21068

                                          obj3  \
0            j,85720.1,62009,0.840127,-1.73805
1           m+,17640,16335.2,0.397024,-1.90025
2       m-,47792.1,44843.2,-0.360693,-0.359565
3            m-,573772,96793.9,2.4656,-1.26936
4            m-,495482,176135,1.69422,0.307253
...                                        ...
340263    m-,84809.3,83942.7,0.143566,-1.10066
340264      j,132186,31154.3,2.12222,-0.238847
340265      b,99959.5,79440.1,0.687757,0.36651
340266           j,103956,49619,1.36048,1.8057
340267    j,36615.2,29124.5,0.684275,0.0925249

                                        obj4  \
0            j,270540,58844.5,2.20566,1.6064
1                                        NaN
2            m+,61263,38912,-1.02619,2.71994
3         m+,27163.7,16336.2,1.09569,3.00354
4        m+,49479.9,16162.5,1.78421,-1.08938
...                                      ...
340263   m+,22615.6,20313.1,0.471722,1.96371
340264   m+,47820.2,46241.3,0.260579,1.43295
340265     j,50584.5,40771,0.674197,-1.57172
340266  m-,290093,197360,-0.934967,-0.962359
340267     m-,307891,84726.7,1.96397,2.13715

                                           obj5  \
0           j,55173.9,52433.5,-0.183147,2.62501
1                                          None
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
340263                                      NaN
340264      m-,180498,41739.4,-2.14378,0.707004
340265    j,65878.6,28415.3,-1.47952,-0.0351285
340266  m+,34498.7,27742.5,-0.684455,-0.0529732
340267        m+,94558,52100.3,1.20282,0.959023

                                       obj6  \
0       j,48698.6,37306.4,-0.719927,-1.7898
1                                      None
2                                      None
3                                      None
4                                      None
...                                     ...
340263                                 None
340264                                  NaN
340265   m+,153626,150929,0.188772,0.967007
340266                                  NaN
340267                                  NaN

                                      obj7  \
0         j,148467,23648,-2.52332,-1.70799
1                                     None
2                                     None
3                                     None
4                                     None
...                                    ...
340263                                None
340264                                None
340265  m-,129960,66476.9,-1.29055,2.21314
340266                                None
340267                                None

                                       obj8  \
0       e-,186937,131480,0.888915,-0.185666
1                                      None
2                                      None
3                                      None
4                                      None
...                                     ...
340263                                 None
340264                                 None
340265                                  NaN
340266                                 None
340267                                 None

                                        obj9 obj10 obj11 obj12 obj13 obj14
0       e+,80014.3,79281.7,0.135844,0.275231   NaN  None  None  None  None
1                                       None  None  None  None  None  None
2                                       None  None  None  None  None  None
3                                       None  None  None  None  None  None
4                                       None  None  None  None  None  None
...                                      ...   ...   ...   ...   ...   ...
340263                                  None  None  None  None  None  None
340264                                  None  None  None  None  None  None
340265                                  None  None  None  None  None  None
340266                                  None  None  None  None  None  None
340267                                  None  None  None  None  None  None

[340268 rows x 19 columns]

Convert columns which are numbers to integers or floats: `event ID`, `event weight`, `MET`, `METphi`

In [43]:

# convert number columns from strings to integers or floats
num_cols = ["event_id", "event_weight", "MET", "METphi"]
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce") # float64 or int64 depending on the data supplied

print(df.dtypes)

event_id          int64
process_id       object
event_weight      int64
MET             float64
METphi          float64
obj1             object
obj2             object
obj3             object
obj4             object
obj5             object
obj6             object
obj7             object
obj8             object
obj9             object
obj10            object
obj11            object
obj12            object
obj13            object
obj14            object
dtype: object

Count the number of electrons, photons, muons, jets and bjets in the event

In [44]:
obj_keys = ["j", "b", "e-", "e+", "m-", "m+", "g"] # keys for each object type
obj_cols = df.columns[len(base_cols):] # take columns after the first 5, i.e [5:]

# Extract the object type from every object cell
types = df[obj_cols].map(lambda s: str(s).split(",", 1)[0].strip() if pd.notna(s) and str(s).strip() else None) # lambda applied to every cell if condition met
"""
    If the cell is not NaN and not an empty string, convert to str, split on the first comma, take the token before it (the object code), and strip whitespace.
    Otherwise return None (for missing slots) 
"""

# Count per row how many times each type appears
counts = pd.DataFrame({i: (types == i).sum(axis=1) for i in obj_keys}).astype("int64")
"""
    types == k creates a boolean DataFrame (True where the cell equals the object k).
    .sum(axis=1) counts True per row (because True=1, False=0), i.e., how many times k appears in that event across all object slots.
    The dict comprehension builds a column per object type.
    pd.DataFrame(...) turns that dict into a DataFrame with columns in obj_keys order.
    .astype("int64") casts boolean sums to integer counts
"""

# columns for total electrons and total muons, regardless of charge
counts["e"] = counts["e-"] + counts["e+"]
counts["m"] = counts["m-"] + counts["m+"]


# reorder columns: |N ele| N muon| N jets| N bjets| N photons|
counts = (counts
          .drop(columns=["e-", "e+", "m-", "m+"]) # get rid of charged columns
          .reindex(columns=["e","m","j", "b", "g"], fill_value=0)) # reorder remaining columns; fill_value=0 fills empty columns with 0's not NaNs


# add these columns to the overall dataframe as integers
df = pd.concat([counts, df], axis=1)
df[["e","m","j","b","g"]] = df[["e","m","j","b","g"]].astype("int64") # convert new columns to integers


print([c for c in df.columns])  # quick sanity check

['e', 'm', 'j', 'b', 'g', 'event_id', 'process_id', 'event_weight', 'MET', 'METphi', 'obj1', 'obj2', 'obj3', 'obj4', 'obj5', 'obj6', 'obj7', 'obj8', 'obj9', 'obj10', 'obj11', 'obj12', 'obj13', 'obj14']

In [45]:
df.dtypes

e                 int64
m                 int64
j                 int64
b                 int64
g                 int64
event_id          int64
process_id       object
event_weight      int64
MET             float64
METphi          float64
obj1             object
obj2             object
obj3             object
obj4             object
obj5             object
obj6             object
obj7             object
obj8             object
obj9             object
obj10            object
obj11            object
obj12            object
obj13            object
obj14            object
dtype: object

3. **Sort by energy** (largest to smallest)
    * remember the main df is ordered as follows:  
    `event ID; process ID; event weight; MET; METphi; obj1, E1, pt1, eta1, phi1; obj2, E2, pt2, eta2, phi2; ...`<br>
2. Choose an appropiate number of particles to study per event (recommended: **8**)  

4. If the event has more than 8 particles choose the **8 particles** with **highest energy and truncate** the rest
    * objects are already in order of decreasing energy
    * just take the first 8 objects and drop the rest
5. take logarithm of MET, energy and momentum variables
6. If the event has less than 8 particles, create kinematic variables with 0 values for the missing particles...
    * replace NaN with 0

In [46]:

# Vectorized NumPy/pandas operations - Operates on entire columns at once using optimized C code
base_cols = [i for i in df.columns[:10]]
obj_cols  = sorted([c for c in df.columns if c.startswith("obj")],
                   key=lambda s: int(s[3:])) # is the key necessary?


# Wide -> long and split into fields
S = df[obj_cols].stack() # (row, obj_col)
parts = S.str.split(",", n=4, expand=True).apply(lambda c: c.str.strip())
parts.columns = ["type","E","pt","eta","phi"]


# Numeric conversion for object fields
for i in ["E","pt","eta","phi"]:
    parts[i] = pd.to_numeric(parts[i], errors="coerce")


# Add event (row) index and sort by E within each event - FOR ORDERING??
parts.index = parts.index.set_names(["row","slot"])
long = parts.reset_index().sort_values(["row","E"], ascending=[True, False])


# Keep top 8 per event
long["rank"] = long.groupby("row").cumcount() + 1
topK = long[long["rank"] <= 8].copy()


# calculate logE and logpt 
eps = 1e-12 # so we have no divergence log(0)
topK["logE"]  = np.log(np.clip(topK["E"],  eps, None))
topK["logpt"] = np.log(np.clip(topK["pt"], eps, None))


# Pivot back to wide numeric columns (type1, logE1, logpt1, ...) - NO!!
wide = (topK
        .set_index(["row","rank"])[["type","logE","logpt","eta","phi"]]
        .unstack("rank"))


# Flatten columns like ('logE', 1) -> 'logE1'
wide.columns = [f"{f}{k}" for f, k in wide.columns]


# Order columns per slot: type, logE, logpt, eta, phi
ordered = []
for i in range(1, 8+1):
    ordered += [f"type{i}", f"logE{i}", f"logpt{i}", f"eta{i}", f"phi{i}"]
wide = wide.reindex(columns=[c for c in ordered if c in wide.columns])


# Merge back base/meta columns
df = (df.reset_index()
       .rename(columns={"index": "row"})[["row"] + base_cols]
       .merge(wide.reset_index(), on="row", how="left")
       .drop(columns="row"))


# calculate log(MET)
met_num = pd.to_numeric(df["MET"], errors="coerce")
df["MET"] = np.log(np.clip(met_num, eps, None))
df.rename(columns={"MET": "logMET"}, inplace=True) # rename column


# Convert NaN's in object columns to 0's 
df = df.fillna(0)

In [47]:
print([c for c in df.columns]) 
print("\n", df.loc[-5:, "type6":"phi6"])
print("\n", df.iloc[:, 15:20].head())

['e', 'm', 'j', 'b', 'g', 'event_id', 'process_id', 'event_weight', 'logMET', 'METphi', 'type1', 'logE1', 'logpt1', 'eta1', 'phi1', 'type2', 'logE2', 'logpt2', 'eta2', 'phi2', 'type3', 'logE3', 'logpt3', 'eta3', 'phi3', 'type4', 'logE4', 'logpt4', 'eta4', 'phi4', 'type5', 'logE5', 'logpt5', 'eta5', 'phi5', 'type6', 'logE6', 'logpt6', 'eta6', 'phi6', 'type7', 'logE7', 'logpt7', 'eta7', 'phi7', 'type8', 'logE8', 'logpt8', 'eta8', 'phi8']

        type6      logE6     logpt6      eta6      phi6
0          j  11.358843  11.035035  0.840127 -1.738050
1          0   0.000000   0.000000  0.000000  0.000000
2          0   0.000000   0.000000  0.000000  0.000000
3          0   0.000000   0.000000  0.000000  0.000000
4          0   0.000000   0.000000  0.000000  0.000000
...      ...        ...        ...       ...       ...
340263     0   0.000000   0.000000  0.000000  0.000000
340264     0   0.000000   0.000000  0.000000  0.000000
340265     j  11.095569  10.254683 -1.479520 -0.035129
340266     0   0.000000   0.000000  0.000000  0.000000
340267     0   0.000000   0.000000  0.000000  0.000000

[340268 rows x 5 columns]

   type2      logE2     logpt2      eta2     phi2
0     j  12.508175  10.982654  2.205660  1.60640
1    m-  11.671970  11.568530 -0.462717  2.01556
2    m+  11.022931  10.569058 -1.026190  2.71994
3     j  12.303644  11.589998  1.333050  1.86414
4     b  11.622990  10.144502  2.156020  2.49257

## TEMP PROGRESS REPORT
- the ordering of training_top8 is now: `e; m; j; b; g; event ID; process ID; event weight; MET; METphi; obj1; obj2; obj3; obj4; obj5; obj6; obj7; obj8;`<br>
where for each object we have `obji, log(Ei), log(pti), etai, phii`<br>  

    * ~~still need to take the log of MET: log(MET) for each event~~ __done__
    * ~~maybe go back and convert all columns which are numbers to floats instead of switching back and forth to strings~~ __done__
    * ~~maybe don't use fields for each object (also what is a field here?) but also were given in ;,,,,,; format...~~ __done__
    * what is "`MinMaxScalar` or similar" and what does it mean to standardise the variables?

- ordering now: `e; m; j; b; g; event ID; process ID; event weight; log(MET); METphi; obj1; log(E1); log(pt1); eta1; phi1; ... `<br>

8. After the dataset is ready, use `MinMaxScalar` or similar to standardise the training variables over the SM dataset
    * Scaling and normalizing features to improve model performance and training stability
    * i.e. normalisation; giving all data points the same scale
    * “Mahalanobis distance”: $$z = (x - \mu)^T{\Sigma^{-1}}$$
    * standardise counts: `e; m; j; b; g`
    * standardise continuous features: `log(MET)` and `log(EN); log(ptN); etaN` (standardising sin/cos of angles optional)

In [ ]:
training = df.copy()
# Standardise the training dataset
train_cols = [c for c in df.columns[:5]] + ["logMET"] + [f"logE{i}" for i in range(1, 9)] + [f"logpt{i}" for i in range(1, 9)] + [f"eta{i}" for i in range(1, 9)] # columns to be standardised
scaler = StandardScaler()
#training = scaler.fit_transform(df[train_cols])  # standardised training dataset
#X_test_num  = scaler.transform(X_test[num_cols])       # reuse fitted scaler


# Replace in place
training.loc[:, train_cols] = scaler.fit_transform(training[train_cols])

/tmp/ipykernel_76255/2275698273.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 2.42559771 -0.62026734 -0.62026734 ... -0.62026734 -0.62026734
 -0.62026734]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  training.loc[:, train_cols] = scaler.fit_transform(df[train_cols])
/tmp/ipykernel_76255/2275698273.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-2.43212477  0.61758091  0.61758091 ...  0.61758091  0.61758091
  0.61758091]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  training.loc[:, train_cols] = scaler.fit_transform(df[train_cols])
/tmp/ipykernel_76255/2275698273.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 4.32903842 -0.77358002 -0.77358002 ...  1.7777292   0.9272928
  0.9272928 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  training.loc[:, train_cols] = scaler.fit_transform(df[train_cols])
/tmp/ipykernel_76255/2275698273.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.74318314 -0.74318314  0.60165192 ...  0.60165192 -0.74318314
 -0.74318314]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  training.loc[:, train_cols] = scaler.fit_transform(df[train_cols])
/tmp/ipykernel_76255/2275698273.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.090388 -0.090388 -0.090388 ... -0.090388 -0.090388 -0.090388]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  training.loc[:, train_cols] = scaler.fit_transform(df[train_cols])

In [69]:
print(df)
print(training)

        e  m  j  b  g  event_id process_id  event_weight     logMET    METphi  \
0       2  0  7  0  0   5702564     z_jets             1  11.538096 -2.966200
1       0  2  1  0  0  13085335     z_jets             1  11.547018  1.961930
2       0  2  1  1  0     74025    wtopbar             1  11.770725 -1.178890
3       0  2  2  0  0   2419445     z_jets             1  11.261565 -1.091710
4       0  2  1  1  0     43639       wtop             1  11.581994 -1.026420
...    .. .. .. .. ..       ...        ...           ...        ...       ...
340263  0  2  1  1  0        30      ttbar             1  11.092509 -1.153600
340264  0  2  2  1  0       111      ttbar             1  10.980708  0.529769
340265  0  2  4  1  0        75      ttbar             1  12.744695  0.804597
340266  0  2  3  0  0  15181306     z_jets             1  12.417140 -0.849401
340267  0  2  3  0  0  19552503     z_jets             1  11.599653  1.489960

        ... type7      logE7     logpt7      eta7      phi7 type8      logE8  \
0       ...    e+  11.289961  11.280763  0.135844  0.275231     j  10.918245
1       ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000
2       ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000
3       ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000
4       ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000
...     ...   ...        ...        ...       ...       ...   ...        ...
340263  ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000
340264  ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000
340265  ...     j  10.831400  10.615726  0.674197 -1.571720     0   0.000000
340266  ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000
340267  ...     0   0.000000   0.000000  0.000000  0.000000     0   0.000000

           logpt8      eta8     phi8
0       10.867301 -0.183147  2.62501
1        0.000000  0.000000  0.00000
2        0.000000  0.000000  0.00000
3        0.000000  0.000000  0.00000
4        0.000000  0.000000  0.00000
...           ...       ...      ...
340263   0.000000  0.000000  0.00000
340264   0.000000  0.000000  0.00000
340265   0.000000  0.000000  0.00000
340266   0.000000  0.000000  0.00000
340267   0.000000  0.000000  0.00000

[340268 rows x 50 columns]
               e         m         j         b         g  event_id process_id  \
0       2.425598 -2.432125  4.329038 -0.743183 -0.090388   5702564     z_jets
1      -0.620267  0.617581 -0.773580 -0.743183 -0.090388  13085335     z_jets
2      -0.620267  0.617581 -0.773580  0.601652 -0.090388     74025    wtopbar
3      -0.620267  0.617581  0.076856 -0.743183 -0.090388   2419445     z_jets
4      -0.620267  0.617581 -0.773580  0.601652 -0.090388     43639       wtop
...          ...       ...       ...       ...       ...       ...        ...
340263 -0.620267  0.617581 -0.773580  0.601652 -0.090388        30      ttbar
340264 -0.620267  0.617581  0.076856  0.601652 -0.090388       111      ttbar
340265 -0.620267  0.617581  1.777729  0.601652 -0.090388        75      ttbar
340266 -0.620267  0.617581  0.927293 -0.743183 -0.090388  15181306     z_jets
340267 -0.620267  0.617581  0.927293 -0.743183 -0.090388  19552503     z_jets

        event_weight    logMET    METphi  ... type7     logE7    logpt7  \
0                  1  0.198226 -2.966200  ...    e+  4.960535  5.090336
1                  1  0.220021  1.961930  ...     0 -0.212910 -0.212942
2                  1  0.766519 -1.178890  ...     0 -0.212910 -0.212942
3                  1 -0.477315 -1.091710  ...     0 -0.212910 -0.212942
4                  1  0.305465 -1.026420  ...     0 -0.212910 -0.212942
...              ...       ...       ...  ...   ...       ...       ...
340263             1 -0.890304 -1.153600  ...     0 -0.212910 -0.212942
340264             1 -1.163424  0.529769  ...     0 -0.212910 -0.212942
340265             1  3.145839  0.804597  ...     j  4.750408  4.777691
340266             1  2.345650 -0.849401  ...     0 -0.212910 -0.212942
340267             1  0.348605  1.489960  ...     0 -0.212910 -0.212942

            eta7      phi7 type8     logE8    logpt8      eta8     phi8
0       0.816775  0.275231     j  9.050420  9.225477 -2.145262  2.62501
1       0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000
2       0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000
3       0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000
4       0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000
...          ...       ...   ...       ...       ...       ...      ...
340263  0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000
340264  0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000
340265  4.045431 -1.571720     0 -0.113125 -0.113140 -0.000017  0.00000
340266  0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000
340267  0.002080  0.000000     0 -0.113125 -0.113140 -0.000017  0.00000

[340268 rows x 50 columns]

In [ ]:
print([c for c in training.columns]) 
print("\n", training.loc[-5:, "type6":"phi6"])
print("\n", training.iloc[:, 15:20].head())

AttributeError: 'numpy.ndarray' object has no attribute 'loc'